@charset "UTF-8";

body {
  font-family: arial;
}
#cabecera{
  opacity: 0.9;
 }
 #titulo{
   font-family: 'Playfair Display', serif;
   font-weight: 900;
   color: #3a3232;
   margin-bottom: 25px;
 }
.titulo{
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  color: #3a3232;
}
h3{
  font-family: 'Poppins', sans-serif;
  margin-left: 45px;
  margin-right: 45px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.principal{
  margin-bottom: 0rem;
}
.animacion{
  margin-top: 25px;
}
.carousel-caption p{
  background-color: black;
  opacity: 0.7;
}
.carousel-caption h5{
  background-color: black;
  opacity: 0.7;
}
.fab{
  color: black;
  font-size: 2rem;
}
.barra-seleccion{
  width: 30%;
  margin: auto;
}
#BotonDeCompra{
  margin-top: 20px;
}
.resultado{
  margin-top: 25px;
}
.formulario{
  margin-bottom: 50px;
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
