/* Small Mobiles Styles */
@media only screen and (max-width: 320px) {

#titulo{
  font-size: 2rem;
  
}
h3{
  margin: 20px 0px 20px 0px;
  font-size: 1rem;
}
.titulo{
  font-size: 2rem;
}
.barra-seleccion{
  width: 70%;
}
}

/* Mobile Styles */
@media only screen and (min-width: 307px) and (max-width: 626px) {

}
/* Tablet Styles */
@media only screen and (min-width: 627px) and (max-width: 960px) {
}
